* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;  
  color: #777;
  padding: 20px;
}

/* NAVIGATION */
.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: white;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3.25rem;
  right: 3.25rem;
  background-image: radial-gradient(rgba(1, 82, 148), rgb(1, 39, 70));
  z-index: 1000;

  transition: transform 0.7s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;

  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.8s;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item { 
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited { 
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 300; 
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  transition: all 0.4s;
}

.navigation__link:hover, .navigation__link:active { 
  background-position: 100%;
  color: rgba(1, 82, 148); 
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  overflow: hidden;
}

.navigation__icon {
  position: relative;
  margin-top: 1.8rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after { 
  width: 1.8rem;
  height: 2px;
  background-color: rgb(87, 87, 87);
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after { 
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.5rem;
}

.navigation__icon::after {
  top: 0.5rem;
}

.navigation__button:hover .navigation__icon::before{
  top: -0.6rem;
}

.navigation__button:hover .navigation__icon::after{
  top: 0.6rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.header {
  height: 150px;
  background-image: linear-gradient(to right bottom, rgba(1, 82, 148, 0.95), rgba(0, 0, 0, 0.9)), url(../img/graphene.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 30px;
}

.logo {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-transform: lowercase;
}

/* .section {
  position: relative;
  margin-top: 5px;
  background-color: rgba(128, 128, 128, 0.13);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.video-box {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* GRID LAYOUT */
.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  background-color: orangered;
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 4rem;
}

.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - (2 * 4rem)) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - (2 * 4rem)) / 3) + 4rem);
}

.row .col-1-of-4 {
  width: calc((100% - (3 * 4rem)) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - (3 * 4rem)) / 4) + 4rem);
}

.section-about {
  background-color: #f7f7f7;
}