* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;  
  color: #777;
  padding: 20px;
  box-sizing: border-box;
}

p {
  font-size: 1.6rem;
}

p:not(:last-child) {
  margin-bottom: 3rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1.4rem;
  margin-top: 20rem;
  line-height: 8rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: white;
}

.heading-secondary {
  display: inline-block;
  background-image: linear-gradient(to right, rgb(0, 114, 207), rgb(0, 64, 116));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.heading-tertiary {
  font-size: 2rem;
}

/* UTILITIES */
.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

/* NAVIGATION */
.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(rgba(1, 82, 148), rgb(1, 39, 70));
  z-index: 1000;

  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;

  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item { 
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited { 
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 300; 
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  transition: all 0.4s;
}

.navigation__link:hover, .navigation__link:active { 
  background-position: 100%;
  color: rgba(1, 82, 148); 
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  overflow: hidden;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after { 
  width: 3rem;
  height: 2px;
  background-color: rgb(87, 87, 87);
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after { 
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before{
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after{
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}


/* HEADER */
.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(1, 82, 148, 0.95), rgba(0, 0, 0, 0.9)), url(../img/PIXNIO-383175-2089x1357.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo-box {
  position: absolute;
  top: 3rem;
  left: 4rem;
}

.logo {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-transform: lowercase;
}

/* GRID LAYOUT */
.row {
  max-width: 114rem;
  /* background-color: #eee; */
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 4rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 4rem;
}

.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - (2 * 4rem)) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - (2 * 4rem)) / 3) + 4rem);
}

.row .col-1-of-4 {
  width: calc((100% - (3 * 4rem)) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - (3 * 4rem)) / 4) + 4rem);
}

.section-cleantech {
  background-color: #f7f7f7;
  padding: 14rem 0;
  margin-top: calc(-15vh);
}

.modal__launch {
  position: relative;
  display: inline-block;
}

.modal__launch-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.modal__launch-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__launch-button img {
  display: block;
  margin: 0 auto;
  width: 75%;
  opacity: 0.6;
  transition: width 0.3s ease;
}

.modal__launch-button:hover img {
  width: 80%;
}


.section-team {
  padding: 10rem 5rem;
  background-image: linear-gradient(to right bottom, rgba(1, 82, 148, 0.95), rgba(0, 0, 0, 0.9)), url(../img/graphene.jpg);
  background-size: cover;
  transform: skewY(-4deg);
  margin-top: -7rem;
}

.section-team > * {
  transform: skewY(4deg);
}

.team-member {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
}

.team-member__name {
  font-size: 2.2rem;
  color: #003f73;
  text-transform: uppercase;
}

.team-member__credentials {
  color: #003f73;
  font-size: 1.5rem;
  font-weight: 300;
}

.team-member__role {
  color: #003f73;
  font-size: 1.5rem;
}

.headshot__photo {
  width: 80%;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.4);;
  border-radius: 2px;
}

/* MODAL */
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 3000;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.modal:target {
  opacity: 1;
  visibility: visible;
}

.modal__header {
  height: 3rem;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

.modal__close:link, .modal__close:visited {
  color: rgb(196, 196, 196);
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  max-height: 100%;
  border-radius: 3px;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.4);
  padding: 0 1rem;
  background-color: black;
}

.modal__video {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  height: 0;
  overflow: hidden;
}

.modal__video iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}